/************************
here we go /////////////
************************/
body {
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-
background-size:cover;
margin-left: 0px;
margin-top: -5px;
margin-right: 0px;
margin-bottom: 0px;
background:url(img/bg1.jpg) center  fixed no-repeat;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

header{
  width:100%;
  height:135px;
  background-color: #778899;
  margin-left: auto;
  margin-right: auto;

}

nav{
  width:90%;
  height:20px;
  background-color: #F5F5DC;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: left;
  color: #708090;
}

#content{
  width: 1000px;
  height: 810px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFF0F5;
}

section{
  width: 810px;
  height: 810px;
  margin-left: auto;
  margin-right: auto;
}

#div1{
	width: 400px;
	height: 400px;
	float: left;
	position: relative;
	margin-top: 50px;
	background-image: url(img/1f.png);
	background-position: center;
	background-repeat: no-repeat;
	font-family: inherit;
}

#div2{
  width: 400px;
  height: 400px;
  float: right;
  position: relative;
  margin-top: 50px;
  margin-right: 2px;
  background-image: url(img/2f.png);
  background-position: center;
  background-repeat: no-repeat;
}

#div3 {
  text-align: center;
  font-size: 30px;
  color: #2F4F4F;
  background-image: url(img/3f.png);
  display: block;
  height: 400px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  clear:both;
  background-position:center;
  background-repeat:no-repeat;
}

h1{
  text-align: center;
  font-size: 30px;
  color: #2F4F4F;
}

h2{
  text-align: center;
  font-size: 80px;
  padding-top: 20px;
  color: #F8F8FF;
}

footer {
  width: 100%;
  height: 20px;
  background-color: #778899;
  margin-top:5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FFFFFF;
  position: fixed;;
  left: 0;
  bottom: 0;
}


/************************
here we go /////////////
************************/
